{% load static %}
<section class="market-section-bg">
    <div class="container">
        <div class="market-text-wrapper">
            <div class="market-content">
                <h2 class="market-title">Market Operations</h2>
                <p class="market-description">
                    This section contains the terms and conditions of the market operations of the Central Bank of Libya.
                </p>
                <a href="#" class="more-link">MORE</a>
            </div>
            <div class="market-image">
    <img src="{% static 'image/port.png' %}" alt="Market Operations">
</div>
        </div>
    </div>
</section>